.DS_Store
/dist

/backend/node_modules
/backend/package-lock.json
/frontend/package-lock.json
/frontend/node_modules

/backend/send.js
/backend/receive.js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

